.station-container{
    border: 5px solid black;
    margin: auto;
    text-align: center;
    background-color: tan;
    background-color: cornsilk;
    width: 100vw;
 }
  
  
 #station-header{
    font-size: 18px;
 }
  
 .restaurant-btn,
 .cafe-btn,
 .movie-theater-btn,
 .spa-btn,
 .art-gallery-btn {
    background-color: green;
    color: white;
    border: 2px solid black;
    margin: 2px;
    /* float: right; */
    /* border-radius: 5%; */
 }
  
 .rem-btn,
 .fav-btn{
    border: 2px solid black;
    margin: 2px;
 }
  
  
 /* Desktop */
 @media screen and (min-width:768px) {
    #station-header{
        font-size: 23px;
    }   
 }
 