.map-container{
  width: 98vw;
  height: 70vh;
  border: green 5px solid;
  margin: 20px;
}

.Geolocation-btn{
  width: 100px;
  height: 25px;
  margin: 20px 20px;
<<<<<<< HEAD
}

=======
}
>>>>>>> 31769b9640a0c97aa5db63780dad302ff284af7c
